.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container > div {
    margin: 15px;
    background-color: white;
    padding: 15px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

h5 {
    text-align: center;
}

h4 {
    margin: 20px 0 10px 0;
    font-size: 24px;
}

.overline{
    text-decoration: overline;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.underline-overline{
    text-decoration: underline overline;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}
